<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <h1>CONTACTO</h1>
    </header>

    <nav>
        <ul>
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/presupuesto.html">Sobre nosotros</a>
            <a class="contactonav" href="contacto.html">CONTACTO</a>
        </ul>
    </nav>
    
    <main>
        <h2 class="ubicacion">Donde nos puedes encontrar</h2>
        <!--Mapa y ubicación de la página-->
        <div class="contenido">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6152.675224438414!2d2.69455327611507!3d39.55199440781564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129793f6409c1bf3%3A0x430066a57dbe6ce1!2sCarrer%20de%20Guasp%2C%2016%2C%20Platja%20de%20Palma%2C%2007007%20Palma%2C%20Illes%20Balears!5e0!3m2!1ses!2ses!4v1738053799512!5m2!1ses!2ses" height="400" width="600" ></iframe>
            <a href="https://maps.app.goo.gl/gUHcBnr1LMujrHtF7" class="ubi">C/Guasp 16, Coll d'en Rabassa</a>
        </div>
    </main>    
   

    <footer>
        <a href="#"><img src="../assets/logoinsta.svg" alt="logo de instagram" class="insta"></a> 
        <a href="#"><img src="../assets/logotwitter.svg" alt="logo de twitter" class="x"></a>
        <a href="#">C/Guasp 16, Coll d'en Rabassa</a>
        <a href="#">Aviso legal</a>
    </footer>
    
</body>
</html>