<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <h1>INFORMACIÓN</h1>
    </header>

    <nav>
        <ul>
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a class="presupuestonav" href="presupuesto.html">SOBRE NOSOTROS</a>
            <a href="../views/contacto.html">Contacto</a>
        </ul>
    </nav>
    
    <main>
        <h2 class="titulo">Para cualquier información, 
            rellene el formulario</h2>
            <!--Formulario de la página-->
        <form class="formulario">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Escriba su nombre" 
                    pattern="[A-Z a-z]{3,20}" required>

            <label for="email">email</label>
            <input type="Email" id="email" name="email" placeholder="Tu correo electrónico"
            pattern="[A-Z a-z 0-9 - _ . @]{5,40}" required>
                    

            <label for="teléfono">Teléfono</label>
            <input type="tel" id="teléfono" pattern="[0-9]{9}" required>

            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" rows="4"
            placeholder="Escribe..."></textarea>

            <label for="privacidad">Política de privacidad</label>
            <input type="checkbox" value="aceptar" required>

            <input type="submit" value="enviar">
        </form>
    </main>

    <footer>
        <a href="#"><img src="../assets/logoinsta.svg" alt="logo de instagram" class="insta"></a> 
        <a href="#"><img src="../assets/logotwitter.svg" alt="logo de twitter" class="x"></a>
        <a href="#">C/Guasp 16, Coll d'en Rabassa</a>
        <a href="#">Aviso legal</a>
    </footer>
    
</body>
</html>